@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@import url('menu.css');

@font-face {
  font-family: "Goldman";
  src: url(../fonts/Goldman-Regular.ttf);
}

/*body and fonts*/
body {
  background-color: #141414;
  margin: 0;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Goldman";
  font-weight: lighter;
  text-align: center;
  color: #5CAFFD;
}

h3 {
  font-family: 'inter', sans-serif;
  color: #3ED3F3;
}

li {
  font-family: 'inter', sans-serif;
  font-size: large;
  font-weight: 600;
  color: #5CAFFD;
}

p {
  font-family: 'inter', sans-serif;
  font-size: medium;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5;
  margin: 0 10px 0 40px;
}

ul {
  list-style: none;
}

a {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: large;
  text-align: left;
  font-style: italic;
}

/*main section*/
.container {
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: block;
  background: linear-gradient(#0e253ab3, #00000000);
}

.title {
  margin-bottom: 40px;
  padding-top: 10px;
  text-decoration: underline;
}

.left {
  width: 29%;
  float: left;
}
.info {
  margin: 10px 20px 5px 20px;
}
.text {
  margin: 0 20px 30px 40px;
  color: #ffffff;
}

.middle {
  background: linear-gradient(#3ed2f3c9, #00000000);
  width: 40%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 150px;
}
.media {
  color: #000000;
  text-align: center;
}
.media-wrapper {
  background: #ffffff;
  border: 3px solid #000000;
  padding: 10px 0 10px 0;
  margin: 40px 0 10px 0;
}
.media-wrapper i {
  color: #000000;
  margin: 0 20px 0 20px;
}

.right {
  width: 29%;
  background: linear-gradient(#1E1E1E, #00000000);
  float: right;
  padding-bottom: 100px;
  padding-left: 120px;
}

.right .info {
  margin: 10px 0 10px 20px;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left {
    width: 100%;
    clear: left;
    margin: 10px auto 10px auto;
  }
  .middle {
    width: 100%;
    margin: 10px auto 10px auto;
  }
  .right {
    width: 100%;
    clear: right;
    margin: 10px auto 10px auto;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .middle {
    padding-bottom: 50px;
  }
  .media-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 30px auto 10px auto;
  }
  .media-wrapper i {
    margin: 10px 0 10px 0;
  }
}