@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@import url('menu.css');
@import url('general.css');

@font-face {
  font-family: "Goldman";
  src: url(../fonts/Goldman-Regular.ttf);
}

h3 {
  font-family: 'inter', sans-serif;
  color: #5CAFFD;
}

li + p {
  margin-top: 2%;
  margin-bottom: 10%;
}

li {
  font-family: 'inter', sans-serif;
  font-size: large;
  font-weight: 600;
  color: #5CAFFD;
}

p {
  font-family: 'inter', sans-serif;
  font-size: medium;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: large;
  text-align: left;
  font-style: italic;
}

/*top description*/
.info {
  position: absolute;
  margin: 40px 20px 40px 35px;
  z-index: 30;
  color: #ffffff;
  font-size: 1.5em;
}

/*playbox section*/
.playcontainer {
  text-align: center;
  margin-bottom: 50px;
}

.BImage1 {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

.playwrapper {
  background: linear-gradient(#0e253ac0, #000000 95%);
  position: absolute;
  width: 100vw;
  height: 600px;
  top: 200px;
  padding: 20px 0 30px 0;
  overflow: hidden;
}

.playbox {
  color: #43DF49;
  text-decoration: underline;
}

.playgames {
  background: #020824;
  position: relative;
  width: 95vw;
  height: 450px;
  top: 50px;
  padding: 20px 0 20px 0;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playline {
  position: absolute;
  width: 95vw;
  height: 5px;
  border-color: #43DF49;
  background-color: #43DF49;
  z-index: 10;
}

.playgame {
  height: 350px;
  width: 250px;
  margin: 0 20px 0 20px;
  z-index: 30;
}

/*price on playbox games*/
.play-price {
  position: absolute;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 10px solid #43DF49;
  background-color: #000000;
  color: #ffffff;
  bottom: -23px;
  right: 20px;
  padding: 5px 100px 5px 10px;
}

/*where you are in each section (instead of arrows)*/
.dots {
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 30px auto 10px auto;
}

.l-dot {
  height: 25px;
  width: 25px;
  background-color: #3ED3F3;
  border-radius: 25%;
  margin: 25px 10px 0 0;
  display: inline-block;
}
.m-dot {
  height: 20px;
  width: 20px;
  background-color: #7B7C7D;
  border-radius: 25%;
  margin: 25px 10px 0 10px;
  display: inline-block;
}
.r-dot {
  height: 20px;
  width: 20px;
  background-color: #7B7C7D;
  border-radius: 25%;
  margin: 25px 0 0 10px;
  display: inline-block;
}

/*playbox media querries*/
@media (max-width: 1286px) {
  #playgame5 {
    visibility: hidden;
    display: none;
  }
  #play-price5 {
    visibility: hidden;
    display: none;
  }
  .playgame {
    margin: 0 25px 0 25px;
  }
  .playgames {
    margin-left: 2%;
  }
  .play-price {
    margin-right: 5px;
  }
}

@media (max-width: 1185px) {
  #playgame4 {
    visibility: hidden;
    display: none;
  }
  #play-price4 {
    visibility: hidden;
    display: none;
  }
  .playgame {
    margin: 0 30px 0 30px;
  }
  .play-price {
    margin-right: 10px;
  }
}

@media (max-width: 1080px) {
  .playgames {
    margin-left: 4%;
    width: 90vw;
  }
  .playline {
    width: 80vw;
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 1000px) {
  .playgame {
    margin: 0 20px 0 20px;
  }
  .playgames {
    margin-left: 4%;
  }
  .play-price {
    margin-right: 0;
  }
}

@media (max-width: 890px) {
  #playgame3 {
    visibility: hidden;
    display: none;
  }
  #play-price3 {
    visibility: hidden;
    display: none;
  }
  .playgame {
    margin: 0 30px 0 30px;
  }
  .playgames {
    margin-left: 4%;
  }
  .play-price {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .playgame {
    margin: 0 20px 0 20px;
  }
  .playgames {
    margin-left: 4%;
  }
  .play-price {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  #playgame2 {
    visibility: hidden;
    display: none;
  }

  #play-price2 {
    visibility: hidden;
    display: none;
  }

  .playgames {
    margin-left: 0;
    width: 100%;
  }
  .playgame {
    height: 300px;
    width: 190px;
    margin: 0 20px 0 0;
  }
  .playline {
    width: 70vw;
  }
}

@media (max-width: 360px) {
  .playline {
    width: 100vw;
  }
}
/*end of playbox media querries*/


/*playstation section*/
.pscontainer {
  text-align: center;
  margin-bottom: 50px;
}

.BImage2 {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

.pswrapper {
  background: linear-gradient(#7391ff9e, #000000 95%);
  position: absolute;
  width: 100vw;
  height: 600px;
  top: 950px;
  padding: 20px 0 30px 0;
  overflow: hidden;
}

.playstation {
  color: #000000;
  text-decoration: underline;
}

.psgames {
  background: #020824;
  position: relative;
  width: 95vw;
  height: 450px;
  top: 50px;
  padding: 20px 0 20px 0;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.psline {
  position: absolute;
  width: 95vw;
  height: 5px;
  border-color: #7391ff;
  background-color: #7391ff;
  z-index: 10;
}

.psgame {
  height: 350px;
  width: 270px;
  margin: 0 20px 0 20px;
  z-index: 30;
}

.gameImage {
  position: relative;
  z-index: 30;
}

/*price on playstation games*/
.ps-price {
  position: absolute;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 10px solid #7391ff;
  background-color: #000000;
  color: #ffffff;
  bottom: -30px;
  right: 20px;
  padding: 5px 100px 5px 10px;
}

/*playstation media querries*/
@media (max-width: 1286px) {
  #psgame4 {
    visibility: hidden;
    display: none;
  }
  #ps-price4 {
    visibility: hidden;
    display: none;
  }
  .psgames {
    margin-left: 2%;
  }
  .psgame {
    margin: 0 30px 0 30px;
  }
  .ps-price {
    margin-right: 10px;
  }
}

@media (max-width: 1185px) {
  .psgame {
    margin: 0 20px 0 20px;
  }
  .ps-price {
    margin-right: 0;
  }
}

@media (max-width: 1080px) {
  #psgame3 {
    visibility: hidden;
    display: none;
  }
  #ps-price3 {
    visibility: hidden;
    display: none;
  }
  .psgame {
    margin: 0 30px 0 30px;
  }
  .psgames {
    margin-left: 4%;
    width: 90vw;
  }
  .psline {
    width: 80vw;
  }
  .ps-price {
    margin-right: 10px;
  }
}

@media (max-width: 850px) {
  .psgame {
    margin: 0 20px 0 20px;
  }
  .psgames {
    margin-left: 4%;
  }
  .ps-price {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  #psgame2 {
    visibility: hidden;
    display: none;
  }
  #ps-price2 {
    visibility: hidden;
    display: none;
  }
  .psgame {
    margin: 0 20px 0 20px;
  }
  .psgames {
    width: 85vw;
    margin-left: 6.5%;
  }
}

@media (max-width: 600px) {
  .psgames {
    margin-left: 0;
    width: 100%;
  }
  .psgame {
    height: 300px;
    width: 230px;
    margin: 0 20px 0 0;
  }
  .psline {
    width: 70vw;
  }
}

@media (max-width: 360px) {
  .psline {
    width: 100vw;
  }
}
/*end of ps media querries*/


/*Nintendo switch section*/
.swcontainer {
  text-align: center;
  margin-bottom: 50px;
}

.BImage3 {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

.swwrapper {
  background: linear-gradient(#FF1A1A9e, #000000 95%);
  position: absolute;
  width: 100vw;
  height: 600px;
  top: 1705px;
  padding: 20px 0 30px 0;
  overflow: hidden;
}

.switch {
  color: #ffffff;
  text-decoration: underline;
}

.swgames {
  background: #020824;
  position: relative;
  width: 95vw;
  height: 450px;
  top: 50px;
  padding: 20px 0 20px 0;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swline {
  position: absolute;
  width: 95vw;
  height: 5px;
  border-color: #FF1A1A;
  background-color: #FF1A1A;
  z-index: 10;
}

.swgame {
  height: 350px;
  width: 230px;
  margin: 0 20px 0 20px;
  z-index: 30;
}

/*price on nintendo switch games*/
.sw-price {
  position: absolute;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 10px solid #FF1A1A;
  background-color: #000000;
  color: #ffffff;
  bottom: -30px;
  right: 20px;
  padding: 5px 100px 5px 10px;
}

/*nintendo switch media querries*/
@media (max-width: 1286px) {
  #swgame5 {
    visibility: hidden;
    display: none;
  }
  #sw-price5 {
    visibility: hidden;
    display: none;
  }
  .swgame {
    margin: 0 25px 0 25px;
  }
  .swgames {
    margin-left: 2%;
  }
  .sw-price {
    margin-right: 5px;
  }
}

@media (max-width: 1185px) {
  #swgame4 {
    visibility: hidden;
    display: none;
  }
  #sw-price4 {
    visibility: hidden;
    display: none;
  }
  .swgame {
    margin: 0 30px 0 30px;
  }
  .sw-price {
    margin-right: 10px;
  }
}

@media (max-width: 1080px) {
  .swgames {
    margin-left: 4%;
    width: 90vw;
  }
  .swline {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .swgame {
    margin: 0 20px 0 20px;
  }
  .swgames {
    margin-left: 4%;
  }
  .sw-price {
    margin-right: 0;
  }
}

@media (max-width: 890px) {
  #swgame3 {
    visibility: hidden;
    display: none;
  }
  #sw-price3 {
    visibility: hidden;
    display: none;
  }
  .swgame {
    margin: 0 30px 0 30px;
  }
  .swgames {
    margin-left: 4%;
  }
  .sw-price {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .swgame {
    margin: 0 20px 0 20px;
  }
  .swgames {
    margin-left: 4%;
  }
  .sw-price {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  #swgame2 {
    visibility: hidden;
    display: none;
  }

  #sw-price2 {
    visibility: hidden;
    display: none;
  }

  .swgames {
    margin-left: 0;
    width: 100%;
  }
  .swgame {
    height: 300px;
    width: 190px;
    margin: 0 20px 0 0;
  }
  .swline {
    width: 70vw;
  }
}

@media (max-width: 360px) {
  .swline {
    width: 100vw;
  }
}