/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url("games.css");

@import url('menu.css');
@import url('general.css');

@font-face {
  font-family: "Goldman";
  src: url(../fonts/Goldman-Regular.ttf);
}

h3 {
  font-family: 'inter', sans-serif;
  color: #5CAFFD;
}

li + p {
  margin-top: 2%;
  margin-bottom: 10%;
}

li {
  font-family: 'inter', sans-serif;
  font-size: large;
  font-weight: 600;
  color: #5CAFFD;
}

p {
  font-family: 'inter', sans-serif;
  font-size: medium;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.5;
}


ul {
  list-style: none;
}

a {
  font-family: 'inter', sans-serif;
  font-weight: 600;
  font-size: large;
  text-align: left;
  font-style: italic;
}

/*automatic image show*/
.wrapper {
  width: 100vw;
}

.imageslider {
  width: 100%;
  animation: slide 15s ease-in-out infinite;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    content: url(../images/GameHub_ZeldaBotw.jpg);
    opacity: 1;
    animation-duration: 1s;
    background-size: 100%;
  }

  29% {
    content: url(../images/GameHub_ZeldaBotw.jpg);
    opacity: 1;
    animation-duration: 1s;
    background-size: 100%;
  }

  30% {
    content: url(../images/GameHub_ZeldaBotw.jpg);
    opacity: 0;
    animation-duration: 1s;
    background-size: 100%;
  }

  31% {
    content: url(../images/GameHub_Forspoken.jpg);
    opacity: 0;
    animation-duration: 1s;
    background-size: 100%;
  }
  
  32% {
    content: url(../images/GameHub_Forspoken.jpg);
    opacity: 1;
    animation-duration: 1s;
    background-size: 100%;
  }

  63% {
    content: url(../images/GameHub_Forspoken.jpg);
    opacity: 1;
    animation-duration: 1s;
    background-size: 100%;
  }

  64% {
    content: url(../images/GameHub_Forspoken.jpg);
    opacity: 0;
    animation-duration: 1s;
    background-size: 100%;
  }

  65% {
    content: url(../images/GameHub_EldenRing_2.jpg);
    opacity: 0;
    animation-duration: 1s;
    background-size: 100%;
  }
  
  66% {
    content: url(../images/GameHub_EldenRing_2.jpg);
    opacity: 1;
    animation-duration: 1s;
    background-size: 100%;
  }

  98% {
    content: url(../images/GameHub_EldenRing_2.jpg);
    opacity: 1;
    animation-duration: 1s;
    background-size: 100%;
  }

  99% {
    content: url(../images/GameHub_EldenRing_2.jpg);
    opacity: 0;
    animation-duration: 1s;
    background-size: 100%;
  }
  
  100% {
    content: url(../images/GameHub_ZeldaBotw.jpg);
    opacity: 0;
    animation-duration: 1s;
    background-size: 100%;
  }
}

/*website description*/
.txtwrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

#overT {
  background-color: #3ED3F3;
  width: 200px;
  height: 3px;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
}
#desc {
  text-align: center;
  color: #3ED3F3;
}
#underT {
  background-color: #3ED3F3;
  width: 300px;
  height: 3px;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*middle*/
.middleWrap {
  background-image: linear-gradient(#0E253A, #141414);
}

.late {
  margin-bottom: 15px;
  text-decoration: underline;
}

.newsBox {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
}

.left {
  background-color: #141414;
  width: 600px;
  padding: 10px 30px 0 30px;
  margin-bottom: 30px;
}

@media (max-width: 1287px) {
  .left {
    width: 1000px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1025px) {
  .left {
    width: 800px;
  }
}
@media (max-width: 830px) {
  .left {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .left {
    width: 100%;
  }
}

/*Newest games*/
.introRow {
  padding: 0 0 30px 0;
}

#news {
  font-family: "Goldman";
  text-align: center;
  padding: 5px 0 30px 10px;
}

.right {
  background: linear-gradient(#1E1E1E, #14141400);
  overflow: hidden;
  flex-direction: column;
  margin: 0 0 80px 20px;
  padding-left: 50px;
}

.imgRow {
  display: flex;
  overflow: hidden;
  padding: 10px 5px 30px 10px;
}

/*The switch game*/
.swDesc {
  position: relative;
}

.switchGames {
  height: 400px;
  width: 250px;
  padding-left: 10px;
  border-right: 10px solid #000000;
  z-index: 50;
}
.swtxt {
  padding: 10px 0 5px 20px;
  margin: -5px 10px 10px 10px;
  line-height: 25px;
  width: 240px;
  background-color: #000000;
}
.swdetails {
  color: #00ffff;
}

/*The playstation game*/
.psDesc {
  position: relative;
}

.psGames {
  height: 400px;
  width: 340px;
  padding-left: 20px;
  border-right: 10px solid #000000;
  z-index: 50;
}
.pstxt {
  padding: 10px 0 5px 20px;
  margin: -5px 10px 10px 20px;
  line-height: 25px;
  width: 320px;
  background-color: #000000;
}
.psdetails {
  color: #00ffff;
}

.salesbox {
  margin: 10px 70px 0 20px;
  padding: 20px 0 20px 0;
  width: 590px;
  background-color: #0E253A;
}

.salestxt {
  text-align: center;
  color: #00ffff;
}

/*media querries espiecially for bottom section*/
@media (max-width: 1287px) {
  .right {
    width: 1000px;
    margin-right: 10px;
  }
}
@media (max-width: 1025px) {
  .right {
    width: 800px;
  }
}
@media (max-width: 830px) {
  .right {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
  .imgRow {
    flex-direction: column;
  }
  .swDesc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .psDesc {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .salesbox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 20px 0 20px 0;
    width: 480px;
  }
}
@media (max-width: 680px) {
  .right {
    margin: 0 0 80px 0;
    padding-left: 0;
  }

  .salesbox {
    width: 280px;
    margin: 10px auto 10px auto;
  }

  .switchGames {
    height: 300px;
    width: 220px;
  }
  .swtxt {
    width: 210px;
  }

  .psGames {
    height: 300px;
    width: 270px;
  }
  .pstxt {
    width: 250px;
  }
}
@media (max-width: 360px) {
  .salesbox {
    margin-left: 10px;
  }
}